.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz
README.html
Rplots.pdf
inst/doc
/doc/
/Meta/

# Keep paper/presentation production artifacts out of the R package repo.
/paper_appendices/
/presentation/
*.tex
*.pptx
docs/shock_simulations/*.aux
docs/shock_simulations/*.log
